<!-- homepage.handlebars -->
<section class="container">
  <h1>Blog List</h1>
  
   <!-- Redirect Button for Login/Signup -->
  {{#unless loggedIn}}
    <div class="login-signup-section">
      <p>Please login or sign up to create a blog or comment!</p>
      <a href="/login" class="btn btn-primary">Login/Signup</a>
    </div>
  {{/unless}}

  <section class="flex-row justify-center">
    {{#each blogs}}
      <div class="blog-post">
        <h2>{{this.title}}</h2>
        <p>{{this.content}}</p>
        <p>Posted by: {{this.user.username}} on {{formatDate this.createdAt}}</p>
        <p>Comments: {{this.comments.length}}</p> 
        <a href="/post/{{this.id}}">Read more</a> 
      </div>
    {{/each}}
  </section>
</section>


