<!DOCTYPE html>
<html>
<head>
  <title>{{blog.title}}</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <h1 class="post-title">{{blog.title}}</h1>
  <p class="post-content">{{blog.content}}</p>
  <small class="post-info">By {{blog.User.username}} on {{blog.createdAt}}</small>

  <div id="comments" class="comments-section">
    {{#each blog.Comments}}
      <div class="comment-box">
        <p class="comment-content">{{this.content}}</p>
        <small class="comment-info">By {{this.User.username}} on {{this.createdAt}}</small>
      </div>
    {{/each}}
  </div>

  <form id="commentForm" class="comment-form">
    <textarea name="content" class="comment-textarea" placeholder="Add a comment"></textarea>
    <button type="submit" class="comment-submit-button">Submit</button>
  </form>

  <script src="/js/post.js"></script>
</body>
</html>
